/*

    *** Main Style CSS V.1 ***

    pupblic Includes = [
        Header,
        Slider,
        About Us,
        Services,
        Our Best Diamond,
        THE CROWNING JEWELS,
        Gallery,
        Subscribe,
        Clients,
        Footer
    ];

*/

:root {
  --grayColor: #262626;
  --RedWhiteColor: #FF8080;
}

body {
  overflow: hidden;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

.btn-primary {
  background-color: transparent;
  color: var(--RedWhiteColor);
  border-color: var(--RedWhiteColor);
  outline: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--RedWhiteColor);
  border-color: var(--RedWhiteColor);
  color: #FFF;
  outline: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 5px var(--RedWhiteColor);
          box-shadow: 0 0 5px var(--RedWhiteColor);
  border: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card{
  background-color: #FFF;overflow: hidden;border: 1px solid #EEE;-webkit-box-shadow: 0 4px 5px #EEE;box-shadow: 0 4px 5px #EEE;margin-bottom: 30px;
}
.btn_table_chk{
  padding: 10px;
/* display: block; */
  background-color: var(--hoverColor);
  color: #FFF;
  border-radius: 0px;
  background-color: #ff591e;
}
.mt_100px {
  margin-top: 50px;
}
.he{
  background-color: #ddd;     font-family: 'Droid Arabic Kufi', sans-serif !important;
}
.mb_100px {
  margin-bottom: 160px;
}
.mt_160px {
  margin-top: 160px;
}

.card_head{
  padding: 0 10px;border-bottom: 1px solid #EEE;
}

.para{
  font-size: 15px;
  line-height: 28px;
  color: #9fa4af;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 8px;
}
.llin{font-weight: bold;color: #777;padding: 6px;}
.btn_style {
  padding: 15px 50px;
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid var(--RedWhiteColor);
  color: var(--RedWhiteColor);
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}
.btn_style:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}

.btn_style2 {
  border: 1px solid var(--RedWhiteColor);
  color: var(--RedWhiteColor);
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}
.btn_style2:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}

.h3_style_1 {
  position: relative;
  color: #676255;
  display: inline-block;
  margin-bottom: 40px;
}
.h3_style_1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: var(--RedWhiteColor);
  z-index: -1;
}

.h3_style_2 {
  position: relative;
  color: #676255;
  margin-bottom: 40px;
}
.h3_style_2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 28%;
  height: 20px;
  background-color: var(--RedWhiteColor);
  z-index: -1;
}

.h3_style_3 {
  position: relative;
  color: #444;
  margin-bottom: 40px;
  display: inline-block;
  text-transform: uppercase;
}
.h3_style_3::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: var(--RedWhiteColor);
  z-index: -1;
}

.h3_style_4 {
  position: relative;
  color: #444;
  margin-bottom: 40px;
  display: inline-block
}
.h3_style_4::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 16px;
  background-color: var(--RedWhiteColor);
  z-index: -1;
}



.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.preloader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.logo_loader {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 80px;
}

.loader {
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  border: 0.1em solid #FFF;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  z-index: 9;
}

.ancl {
  -webkit-animation: cc 5s linear infinite;
  animation: cc 5s linear infinite;
  width: 17em;
  height: 1.2em;
  background-color: var(--RedWhiteColor);
  position: absolute;
  text-align: right;

  position: absolute;
  left: -2px;
  top: -10px;

  border-radius: 10px
}
.ancl:after {
  content: attr(data-value) "%";
  margin: -1.2em -1.0em;
  position: absolute;
  letter-spacing: .125em;
  font-weight: bold;
  font-size: 40px;
  color: var(--RedWhiteColor);
  bottom: -20px;
  left: 50%;
  right: 50%;

}

.ancl::before {
  content: "";
  background: url(../images/diamond.png) no-repeat;
  width: 70px;
  height: 57px;
  max-height: 45px;
  background-size: contain;
  position: absolute;
  top: -15px;
  right: -50px;
}
@-webkit-keyframes cc {
  from {
    background-position: 0;
    width: 5%;
  }
  to {
    background-position: -5em;
    width: 100%;
  }
}
@keyframes cc {
  from {
    background-position: 0;
    width: 5%;
  }
  to {
    background-position: -5em;
    width: 100%;
  }
}



/* START Header */
header {
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);

  /* overflow: hidden; */
}
header .head_offers {
  background-color: #000;
  text-align: center;
  padding: 12px 10px
}

header .head_offers p {
  color: #FFF;
  margin: auto;
  font-family: cursive;
  font-size: 14px;
}

header .head_top {
  padding: 10px;
  background-color: var(--grayColor);
}

header .head_top .left_head {}

header .head_top a {
  margin-right: 15px;
  color: var(--RedWhiteColor);
}

header .left_head i {
  width: 20px;
}

header .right_head {}

header .navbar {
  padding: 1.2rem 1rem;
}
.navbar-brand img {
  max-height: 60px;
}

header nav .nav_links > ul.navbar-nav > li > a {
  position: relative;
  margin-right: 15px;
}
header nav .nav_links > ul.navbar-nav > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 60px;
  height: 4px;
  border-radius: 50%;
  background-color: #555;

  -webkit-transition: all .5s linear;

  transition: all .5s linear;
  opacity: 0;
}
header nav .nav_links > ul.navbar-nav > li > a.active::after,
header nav .nav_links > ul.navbar-nav > li > a:hover::after {
  left: 100%;
  width: 4px;
  opacity: 1;
  background-color: var(--RedWhiteColor);
}
.navbar-light .navbar-nav .nav-link {
  -webkit-transition: .5s;
  transition: .5s;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--RedWhiteColor);
}


header .right_controler_head {
  display: inline-block;
}
header .right_controler_head > div {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
header .right_controler_head > div:not(:last-child) {
  position: relative;
}
header .right_controler_head > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 1px;
  height: 52px;
  background-color: rgba(103, 98, 85, 0.24);
}

.nav_menu {
  position: relative;
}
header nav .nav_links > ul.navbar-nav > li .mega_menu {
  position: absolute;
  top: 110%;
  left: -15px;
  right: 0;
  border-top: 3px solid var(--RedWhiteColor);
  width: 127%;
  padding: 20px 50px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
  z-index: 9999;
  display: none;
}
header nav .nav_links > ul.navbar-nav > li .mega_menu.active {
  display: block;
}
.drop_mega:hover::before {
  content: "";
  position: absolute;
  top: 57px;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: #FFF;
  border: 2px solid var(--RedWhiteColor);
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  -webkit-transition: 1s;
  -webkit-transition: .600ms;
  transition: .600ms;
  z-index: 1;
}
.mega_menu .row > div > .item {
  position: relative;
}
.mega_menu .row > div > .item::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 0;
  width: 1px;
  height: 130px;
  background-color: #CCC;
}
.mega_menu .row > div > .item.no_border::after {
  content: unset;
}

.mega_menu .item ul li {
  margin-bottom: 10px;
}
.mega_menu .item ul li img {
  max-height: 25px;
  float: left;
  margin-right: 15px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s;
  transition: .3s;
}
.mega_menu .item ul li a.active img,
.mega_menu .item ul li:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.mega_menu .item ul li a {
  -webkit-transition: .3s;
  transition: .3s;
  color: #555;
  font-weight: 500;
}
.mega_menu .item ul li a:hover,
.mega_menu .item ul li a.active {
  color: var(--RedWhiteColor);
}

.mega_menu .item img.img_show_mega {
  max-height: 100px;
}



header .right_controler_head a {
  color: var(--RedWhiteColor);
}
header .right_controler_head .cart {

}
header .right_controler_head .cart a.btn_cart {
  position: relative;
}
header .right_controler_head .cart a span {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #FFF;
  background-color: var(--RedWhiteColor);
  width: 21px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  border: 1px solid #FFF;
  text-align: center;
}
header .right_controler_head .cart .cart_menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 300px;
  background-color: #fff;
  border: 1px solid rgba(103, 98, 85, 0.15);
  padding: 10px;
  padding-bottom: 0;
  z-index: 9999;

  overflow: hidden;

  display: none;
}
header .right_controler_head .cart .cart_menu ul {
  margin: auto;
  border-bottom: 1px solid var(--RedWhiteColor);
  padding-bottom: 10px;
  height: 200px;
  overflow-y: scroll;
}
header .right_controler_head .cart .cart_menu li {
  border: 1px solid rgba(103, 98, 85, 0.15);
  overflow: hidden;
}
header .right_controler_head .cart .cart_menu ul li:not(:last-child) {
  margin-bottom: 10px;
}
header .right_controler_head .cart .cart_menu img {
  max-height: 60px;
  vertical-align: middle;
  display: block;
  margin: auto;
  margin-top: 10px;
}

header .right_controler_head .cart .cart_menu .info_item_120 {
  padding-left: 10px;
}
header .right_controler_head .cart .cart_menu strong {
  color: #666;
  font-weight: normal;
  margin: auto;
  font-size: 18px;
  display: block;
}
header .right_controler_head .cart .cart_menu span {
  color: #CCC;
}
header .right_controler_head .cart .cart_menu .price_cart del {
  color: #999;
}

header .right_controler_head .cart .sub_total h5 {
  color: var(--RedWhiteColor);
}
header .right_controler_head .cart .sub_total span {
  color: #666;
}

header .right_controler_head .cart .btn_chk_cart {

}
header .right_controler_head .cart .btn_chk_cart a {
  padding: 10px 30px;
  background-color: #FBFBFB;
  color: #666;
  display: inline-block;
  margin: auto;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

header .right_controler_head .cart .btn_chk_cart a:hover,
header .right_controler_head .cart .btn_chk_cart a.active_color {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}


.modal_search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;

  display: none;
}
.modal_search #close_search_modal {
  color: var(--RedWhiteColor);
  position: absolute;
  top: 20%;
  right: 20%;
  cursor: pointer;
}
.modal_search form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: auto;
  text-align: center;
}
.modal_search form input {
  padding: 20px;
  width: 580px;
  background-color: transparent;
  border: 1px solid var(--RedWhiteColor);
  color: #FFF;
  font-size: 20px;
  -webkit-box-shadow: 0 0 5px var(--RedWhiteColor);
          box-shadow: 0 0 5px var(--RedWhiteColor);
  margin-bottom: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}
.modal_search form input::-webkit-input-placeholder {
  color: #FFF;
}
.modal_search form input:-ms-input-placeholder {
  color: #FFF;
}
.modal_search form input::-ms-input-placeholder {
  color: #FFF;
}
.modal_search form input::placeholder {
  color: #FFF;
}
.modal_search form input:focus {
  outline: 0;
  background-color: var(--RedWhiteColor);
  -webkit-box-shadow: 0 0 20px var(--RedWhiteColor);
          box-shadow: 0 0 20px var(--RedWhiteColor);
}
.modal_search form button {
  padding: 20px;
  width: 245px;
  outline: unset;
  background-color: transparent;
  border: 1px solid var(--RedWhiteColor);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px var(--RedWhiteColor);
          box-shadow: 0 0 5px var(--RedWhiteColor);
  -webkit-transition: .5s;
  transition: .5s;
}
.modal_search form button:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
  -webkit-box-shadow: 0 0 20px var(--RedWhiteColor);
          box-shadow: 0 0 20px var(--RedWhiteColor);
}

#close_nav {
  display: none;
}

/* //== END Header */


/* START Banner */
.sec_banner {
  height: 70vh;
  width: 100%;
  position: relative;
}
.sec_banner .caption {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sec_banner .caption h1 {
  color: #666;
  letter-spacing: 5px;
}
.sec_banner .caption h2 {
  text-transform: uppercase;
  color: var(--RedWhiteColor);
  letter-spacing: 5px;
}
.sec_banner .caption a {
  padding: 20px 10px;
  display: block;
  margin-top: 20px;
  background-color: var(--RedWhiteColor);
  border: 1px solid var(--RedWhiteColor);
  color: #FFF;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_banner .caption a:hover {
  background-color: transparent;
  color: var(--RedWhiteColor);
}
/* //== END Banner */



/* START About Us */
.sec_about {
  padding: 50px 0;
  height: 500px;
  overflow: hidden;
}
.sec_about .txt_about {

}
.sec_about .txt_about p {
  color: #666;
  line-height: 1.8em;
}
.sec_about .txt_about a {
  padding: 20px 100px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid var(--RedWhiteColor);
  color: var(--RedWhiteColor);
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_about .txt_about a:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}

.sec_about .img_about {
  position: relative;
}
/* .sec_about .img_about .img_top {
  position: absolute;
  width: 100px;
} */
.sec_about .img_about .img_btm {
  max-width: 600px;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
  right: 50%;
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.img_jeww {
  -webkit-transition: .6s;
  transition: .6s;
  background: url(../images/about/300x300.png) no-repeat;
  height: 160px;
  width: 160px;

  position: absolute;
  z-index: 99;
  top: -80px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  background-size: cover;
  /* background-position: left top 0; */

}
/* //== END About Us */


/* START Service*/
.sec_services {
  padding-bottom: 50px;
  overflow: hidden;
}
.sec_services .item {
  position: relative;
  overflow: hidden;
}
.sec_services .item img {
  width: 100%;
  height: 507px;
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_services .item:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}
.sec_services .item .txt_serv {
  position: absolute;
  top: 50%;
  right: 20px;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 130px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_services .item:hover .txt_serv {
  background-color: rgba(255, 255, 255, 0.5);
}
.sec_services .item .txt_serv h1 {
  color: #FFF;
  font-weight: bold;
  padding-left: 90px;
  padding-top: 15px;
  text-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_services .item:hover .txt_serv h1 {
  color: var(--RedWhiteColor);
  text-shadow: 0 0 5px rgba(51, 51, 51, 0);
}
.sec_services .item .txt_serv::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  border-right: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  border-top: 5px solid #FFF;
}
.sec_services .item .txt_serv::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
  border-left: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  border-top: 5px solid #FFF;
}
.sec_services .item:hover .txt_serv::after,
.sec_services .item:hover .txt_serv::before {
  -webkit-transition: .5s;
  transition: .5s;
  border-color: var(--RedWhiteColor);
}
/* //== END Service*/


/* START Our Best Diamond */
.sec_best_diamond {
  padding: 50px 0;
  overflow: hidden;
}
.sec_best_diamond .sec_title .h3_style_1::after {
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  height: 30px;
  width: 30%;
}

.sec_best_diamond .best_diamond {

}
.sec_best_diamond .best_diamond img {
  width: 100%;
  max-height: 300px;
  -webkit-transform: scale(.5);
          transform: scale(.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.sec_best_diamond .slick-slide.slick-current.slick-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* .sec_best_diamond .best_diamond i.slick-arrow {
  position: absolute;
  bottom: -20px;
  cursor: pointer;
}
.sec_best_diamond .best_diamond i.fa-arrow-left {
  left: 40%;
}
.sec_best_diamond .best_diamond i.fa-arrow-right {
  right: 40%;
} */

.sec_best_diamond .best_diamond .slick-arrow {
  position: absolute;
  bottom: -20px;
  cursor: pointer;
  width: 50px;
  z-index: 9;
}
.sec_best_diamond .best_diamond .slick-arrow:first-child {
  left: 35%;
}
.sec_best_diamond .best_diamond .slick-arrow:last-child {
  right: 35%;
}

.sec_best_diamond .slick-slide > div > div {
  position: relative;
}
.sec_best_diamond .best_diamond h4 {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  color: #444;
  display: none;
}
.sec_best_diamond .slick-slide.slick-current.slick-active h4 {
  display: block;
}
/* //== END Our Best Diamond */


/* START THE CROWNING JEWELS */
.sec_crowning {
  padding: 50px 0;
  overflow: hidden;
  background-color: #FCFCFC;
}
.sec_crowning .item {
  position: relative;
  overflow: hidden;
}
.sec_crowning .item img {
  width: 80%;
  height: 500px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.sec_crowning .item:hover img {
  -webkit-transform: scale(1.2) rotate(-5deg);
          transform: scale(1.2) rotate(-5deg);
}

.sec_crowning .item.item_right .txt_item_crowning,
.sec_crowning .item.item_left .txt_item_crowning {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 300px;
  height: 339px;
  background: hsla(0,0%,100%,.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding: 40px;
}
.sec_crowning .item.item_left .txt_item_crowning {
  right: 0;
}
.sec_crowning .item.item_right .txt_item_crowning {
  left: 0;
}
.sec_crowning .item.item_right {
  text-align: right;
}
.sec_crowning .item.item_right .txt_item_crowning {
  text-align: left;
}

.sec_crowning .item h6 {
  color: var(--RedWhiteColor);
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
.sec_crowning .item p {
  color: #555;
  font-weight: 500;
}
.sec_crowning .item a:hover {
  color: var(--RedWhiteColor);
}


/* //== END THE CROWNING JEWELS */


/* START Our Gallery */
.sec_gallery {
  padding: 50px 0;
  overflow: hidden;
}
.sec_gallery .sec_title {
  margin-bottom: 50px;
}
.sec_gallery .sec_title h6 {
  margin: auto;
}
.sec_gallery .sec_title h4 {
  margin: auto;
  color: #666;
}
.sec_gallery .our_gallery {

}
.sec_gallery .our_gallery .slick-slide {
  padding: 30px;
}
.sec_gallery .our_gallery img {
  width: 100%;
  max-height: 350px;
}
.sec_gallery .our_gallery h5 {
  margin-top: 15px;
  color: var(--RedWhiteColor);
}
/* //== END Our Gallery */


/* START Partner Slide */
.sec_partner {
  padding: 50px 0;
}
.sec_partner .slide_partner {

}
.sec_partner .slide_partner .slick-slide {
  display: inline-block;
  padding: 10px;
  /* border: 1px solid #f1f1f1; */
}
.sec_partner .slide_partner .slick-slide img {
  max-height: 30px;
  display: block;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_partner .slide_partner .slick-slide:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/* //== END Partner Slide */


/* START Subscribe */
.sec_subscribe {
  padding: 50px 0;
  overflow: hidden;
  background-color: #FBFBFB;
}
.sec_subscribe h1 {
  text-align: center;
  color: #888;
  margin-bottom: 40px;
}
.sec_subscribe span {
  width: 650px;
  margin: auto;
}
.sec_subscribe span input {
  padding: 20px;
  width: 399px;
  background-color: #F2F2F2;
  border: 1px solid #EEE;
  -webkit-box-shadow: 0 2px 5px rgba(51, 51, 51, 0.1);
          box-shadow: 0 2px 5px rgba(51, 51, 51, 0.1);
}
.sec_subscribe span input:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
          box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
}
.sec_subscribe span button {
  padding: 20px;
  width: 245px;
  outline: unset;
  background-color: var(--RedWhiteColor);
  color: #FFF;
}
.sec_subscribe span button:hover {
  background-color: transparent;
  color: var(--RedWhiteColor);
}
/* //== END Subscribe */


/* START Footer */
footer {
  padding: 80px 0 40px 0;
  background-color: #000105;
}
footer .wedget_item {

}
footer .wedget_item .logo_footer {
  max-height: 80px;
}
footer .wedget_item p {
  color: #f1f1f1;
  line-height: 1.5em;
  margin: 20px auto;
}
footer .wedget_item h3 {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
footer .wedget_item h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FFF;
}
footer .wedget_item h3::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: var(--RedWhiteColor);
  z-index: 1;
}
footer .wedget_item ul.social_footer {
  margin-top: 40px;
}
footer .wedget_item ul.social_footer li {
  display: inline-block;
}
footer .wedget_item ul.social_footer li a {
  color: var(--RedWhiteColor);
  border: 1px solid var(--RedWhiteColor);
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}
footer .wedget_item ul.social_footer li a:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}
footer .wedget_item ul.links {

}
footer .wedget_item ul.links li {
  margin-bottom: 10px;
}
footer .wedget_item ul.links li a {
  color: #FFF;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
}
footer .wedget_item ul.links li a:hover {
  color: var(--RedWhiteColor);
}

footer .wedget_item .visa_buy {
  margin-top: 40px;
}
footer .wedget_item .visa_buy a {

}
footer .wedget_item .visa_buy a img {
  width: 50px;
  height: 50px;
}
/* //== END Footer */


/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/

/*
  START Pages
*/

/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/


/* START Section Page Title */
.parallax-window {
  background: transparent;
}
.page_title {
  /* background: url(../images/banner/banner-1.png) no-repeat fixed; */
  /* background-position: center center; */
  /* background-size: cover; */
  width: 100%;
  height: 180px;
  border-bottom: 5px solid var(--RedWhiteColor);
  position: relative;
}
.page_title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/banner/banner-pages.png) repeat-x fixed;
  background-position: center center;
  background-size: cover;
}
.page_title h1 {
  color: var(--RedWhiteColor);
  font-weight: 100;
  font-size: 50px;
  line-height: 180px;
  letter-spacing: 8px;
  margin-left: 100px;
}
/* //== END Section Page Title */


/* START Section Category Products */
.sec_category_products {

}
.filter_products {
  border: 2px solid #D8D8D8;
  padding: 10px;
  line-height: 2.5em;
}
.filter_products .link_title ul li {
  display: inline-block;
}
.filter_products .link_title ul li a {
  display: inline-block;
  color: var(--grayColor);
}
.filter_products .link_title ul li a:hover,
.filter_products .link_title ul li a.active {
  color: var(--RedWhiteColor);
}

.filter_products .filter_cat > * {
  display: inline-block;
  margin-left: 20px;
}
.filter_products .filter_cat select {
  width: auto;
}
.filter_products .filter_cat div i {
  margin-right: 10px;
  cursor: pointer;
}
.filter_products .filter_cat div i:hover,
.filter_products .filter_cat div i.active {
  color: var(--RedWhiteColor);
}


.sec_category_products .body_cat {

}
.sec_category_products .body_cat aside {
}
.sec_category_products .body_cat aside article {
  border: 1px solid #DDD;
  margin-bottom: 30px;
  padding: 15px 15px 15px;
}
.article_no_border {
  border: 0 !important;
  padding: 0 !important;
}
.sec_category_products .body_cat aside article div > h4 {
  color: #777;
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.sec_category_products .body_cat .title_aside {
  background-color: var(--RedWhiteColor);
  padding: 10px;
}
.sec_category_products .body_cat .title_aside h3 {
  color: #FFF;
}
.sec_category_products .body_cat .this_select_kind {
  margin-bottom: 20px;
}
.sec_category_products .body_cat .this_select_kind a {
  text-align: center;
  border: 1px solid transparent;
  width: 50%;
  height: 100px;
  float: left;
  padding-top: 20px;
  color: var(--grayColor);
}
.sec_category_products .body_cat .this_select_kind a:hover {
  color: var(--RedWhiteColor);
}
.sec_category_products .body_cat .this_select_kind a.active {
  color: var(--RedWhiteColor);
  border: 1px solid var(--RedWhiteColor);
}
.sec_category_products .body_cat .this_select_kind i {
  margin-bottom: 10px;
}
.sec_category_products .body_cat .this_select_kind h5 {
  font-size: 16px;
}

.sec_category_products .body_cat .styles_select a {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  border: 1px solid transparent;
}
.sec_category_products .body_cat .styles_select span {
  width: 80px;
  height: 20px;
  line-height: 20px;
  border: 1px solid var(--grayColor);
  border-radius: 10px;
  display: block;
  margin: auto;
}
.sec_category_products .body_cat .styles_select span.border_cirlce_many i {
  width: 12px;
  height: 12px;
  border: 1px solid var(--grayColor);
  border-radius: 50%;
  display: inline-block;
}
.sec_category_products .body_cat .styles_select span.border_cirlce i {
  width: 23px;
  height: 22px;
  border: 1px solid var(--grayColor);
  border-radius: 50%;
  display: inline-block;
  margin-top: -2px;
}
.sec_category_products .body_cat .styles_select h6 {
  color: var(--grayColor);
  font-weight: normal;
  margin-top: 5px;
}

.sec_category_products .body_cat .styles_select a.active *,
.sec_category_products .body_cat .styles_select a.active i,
.sec_category_products .body_cat .styles_select a:hover *,
.sec_category_products .body_cat .styles_select a:hover i {
  border-color: var(--RedWhiteColor);
  color: var(--RedWhiteColor);
}
.sec_category_products .body_cat .styles_select a.active,
.sec_category_products .body_cat .styles_select a:hover {
  border: 1px solid var(--RedWhiteColor);
}


.sec_category_products .body_cat .this_types_select .types_select {

}
.sec_category_products .body_cat .this_types_select .types_select a {
  display: inline-block;
  color: #666;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 25px;
  text-align: center;
}
.sec_category_products .body_cat .this_types_select .types_select span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #DDD;
  margin: auto;
  display: block;
}
.sec_category_products .body_cat .this_types_select .types_select span.bg_color1 {
  background-color: #EFEFEF;
}
.sec_category_products .body_cat .this_types_select .types_select span.bg_color2 {
  background-color: #EFEFEF;
}
.sec_category_products .body_cat .this_types_select .types_select span.bg_color3 {
  background-color: #DEBD74;
}
.sec_category_products .body_cat .this_types_select .types_select span.bg_color4 {
  background-color: #62697A;
}
.sec_category_products .body_cat .this_types_select .types_select span.bg_color5 {
  background-color: #FF8AA2;
}
.sec_category_products .body_cat .this_types_select .types_select h6 {
  font-weight: normal;
  margin-top: 10px;
  font-size: .8rem;
}

.sec_category_products .body_cat .adsds_sda a img {
  width: 100%;
}




.range-slider {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.range-slider>div {
  overflow: hidden;
  text-align: center;
  margin-bottom: 0px;
}

.range-slider>div span {
  padding: 5px;
  margin-top: 10px;
}

.range-slider>div span label {
  font-weight: normal;
}

.range-slider>div input {
  font-size: 16px;
  background-color: transparent;
  color: #666;
  border: 1px solid #DDD;
  border-radius: 2px;
  outline: 0;
  padding: 6px 5px;
}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  top: 0;
}

.range-slider input[type=number] {
  text-align: center;
  /* font-size: 1.6em; */
}

.range-slider input[type=number]::-webkit-outer-spin-button,
.range-slider input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-slider input[type=number]:invalid,
.range-slider input[type=number]:out-of-range {
  border: 2px solid #F00;
  color: #F00;
}

.range-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

.range-slider input[type=range]:focus {
  outline: none;
  background: var(--RedWhiteColor);
}

.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--RedWhiteColor);
}

.range-slider input[type=range]:focus::-ms-fill-lower {
  background: var(--RedWhiteColor);
}

.range-slider input[type=range]:focus::-ms-fill-upper {
  background: var(--RedWhiteColor);
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--RedWhiteColor);
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px #FFF;
  box-shadow: 0px 0px 0px #FFF;
  border: 3px solid var(--RedWhiteColor);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.range-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--grayColor);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px var(--RedWhiteColor);
  border: 1px solid var(--grayColor);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--grayColor);
  cursor: pointer;
}

.range-slider input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider input[type=range]::-ms-fill-lower,
.range-slider input[type=range]::-ms-fill-upper {
  background: var(--RedWhiteColor);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid var(--RedWhiteColor);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--grayColor);
  cursor: pointer;
}





.sec_products {

}
.sec_products .txt_info {

}
.sec_products .txt_info p {
  margin: auto;
  line-height: 2.2em;
  color: #676255;
}
.slide_related .item,
.sec_products .item {
  border: 1px solid #EFEFEF;
  position: relative;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 2px 10px #efefef;
          box-shadow: 0 2px 10px #efefef;
  -webkit-transition: .3s;
  transition: .3s;
}
.slide_related .item:hover,
.sec_products .item:hover {
  -webkit-box-shadow: 0 2px 10px #c9c9c9;
          box-shadow: 0 2px 10px #c9c9c9;
}
.slide_related .item .img_rings,
.sec_products .item .img_rings {
  position: relative;
}
.slide_related .item .img_rings img,
.sec_products .item .img_rings img {
  width: 100%;
  height: 230px;
}
.slide_related .item .img_rings .offers,
.sec_products .item .img_rings .offers {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--RedWhiteColor);
  padding: 5px 10px;
  color: #FFF;
  text-transform: uppercase;
}
.slide_related .item .img_rings .heart_favorite,
.sec_products .item .img_rings .heart_favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--RedWhiteColor);
  cursor: pointer;
  -webkit-transition: .8s cubic-bezier(0.13, 1.31, 0.46,-0.5);
  transition: .8s cubic-bezier(0.13, 1.31, 0.46,-0.5);
}
.slide_related .item .img_rings .heart_favorite:hover,
.sec_products .item .img_rings .heart_favorite:hover {
  color: var(--RedWhiteColor);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.slide_related .item .txt_info,
.sec_products .item .txt_info {
  padding: 10px;
}
.slide_related .item .txt_info .title,
.sec_products .item .txt_info .title {

}
.slide_related .item .txt_info .title a,
.sec_products .item .txt_info .title a {
  color: #666;
}
.slide_related .item .txt_info .title p,
.sec_products .item .txt_info .title p {
  color: #CCC;
}
.slide_related .item .txt_info .price,
.sec_products .item .txt_info .price {

}
.slide_related .item .txt_info .price h4,
.sec_products .item .txt_info .price h4 {
  font-weight: normal;
}
.slide_related .item .txt_info .price h4 span,
.sec_products .item .txt_info .price h4 span {
  color: #666;
}
.slide_related .item .txt_info .price h4 del,
.sec_products .item .txt_info .price h4 del {
  color: #CCC;
  margin-left: 10px;
}
.slide_related .item .txt_info a.add_to_cart,
.sec_products .item .txt_info a.add_to_cart {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: var(--RedWhiteColor);
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  -webkit-transition: .5s cubic-bezier(0.56,-0.04, 0, 0.81);
  transition: .5s cubic-bezier(0.56,-0.04, 0, 0.81);
}
.slide_related .item .txt_info a.add_to_cart i,
.sec_products .item .txt_info a.add_to_cart i {

}
.slide_related .item .txt_info a.add_to_cart:hover,
.sec_products .item .txt_info a.add_to_cart:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}


/* ////// Grid && List ////// */
.this_grid > div {
  -webkit-transition: .5s;
  transition: .5s;
}
/* //== END Section Category Products */


/* START Products Details */

.product_details .title_best_seller h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--grayColor);
}
.product_details .title_best_seller h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #DDD;
}
.product_details .title_best_seller h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 40%;
  height: 6px;
  background-color: var(--RedWhiteColor);
  z-index: 1;
  border-radius: 5px
}

.product_details aside article {
  border: 1px solid #DDD;
  padding: 10px 20px;
}
.product_details aside article .item {
  border: 1px solid #EEE;
  margin-bottom: 20px;
}
.product_details aside article .item a.img_be {
  float: left;
}
.product_details aside article .item img {
  max-height: 80px;
}
.product_details aside article .item .txt_info a {
  color: #666;
  -webkit-transition: .5s;
  transition: .5s;
}
.product_details aside article .item:hover .txt_info a {
  color: var(--RedWhiteColor);
}
.product_details aside article .item .txt_info p {
  color: #CCC;
}
.product_details aside article .item .txt_info .price h5 {
  color: #777;
}
.product_details aside article .item .txt_info .price h5 del {
  color: #CCC;
  margin-left: 20px;
}



.product_details .slide_big_imgs .slick-slide {
  padding: 1px;
}
.product_details .slide_big_imgs .slick-slide img {
  height: 350px;
  width: 100%;
  border: 1px solid var(--RedWhiteColor);
}
.product_details .slide_big_imgs .slick-slide .heart_favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--RedWhiteColor);
  cursor: pointer;
  -webkit-transition: .8s cubic-bezier(0.13, 1.31, 0.46,-0.5);
  transition: .8s cubic-bezier(0.13, 1.31, 0.46,-0.5);
}
.product_details .slide_big_imgs .slick-slide .heart_favorite:hover {
  color: var(--RedWhiteColor);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}


.product_details .slider_thumb .slick-list {
  padding: 0 21px;
}
.product_details .slider_thumb .slick-slide {
  display: block;
  padding: 10px;
}
.product_details .slider_thumb .slick-list img {
  max-height: 68px;
  width: 100%;
  margin: auto;
  border: 1px solid #DDD;
}
.product_details .slick-slide.slick-current.slick-active img {
  border: 1px solid var(--RedWhiteColor);
}
.product_details .slider_thumb .slick-arrow {
  max-height: 15px;
  position: absolute;
  top: 50%;
  z-index: 9;
  cursor: pointer;
}
.product_details .slider_thumb .left_arrow {
  left: 0
}
.product_details .slider_thumb .right_arrow {
  right: 0;
}



.product_info_right h5 {
  color: var(--grayColor);
}
.product_info_right h6 {
  color: #777;
}

.rating span i {
  color: #fd7e14;
}
.rating b {
  color: #888;
  font-weight: 100;
  font-size: .8rem;
  margin-left: 20px;
}

.starrating>input {display: none;}
/* /////// Remove radio buttons */
.starrating>label:before {
  content: "\f005";
  /* Star */
  margin: 2px 5px;
  font-size: 1.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}
.starrating>label {color: rgba(253, 126, 20, 0.3);/* /////// Start color when not clicked */}
.starrating>input:checked~label {color: #fd7e14;}


.product_info_right .bootstrap-select.form-control {
  margin-bottom: 20px;
}
.product_info_right .select_types i {
  color: #F00
}
.product_info_right .select_types i.rose_c {
  color: #FF8AA2;
}
.product_info_right .select_types i.gold_c {
  color: #DEBD74;
}
.product_info_right .select_types i.platinum_c {
  color: #62697A;
}
.product_info_right .select_types + .dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #c1c1c1;
}

.product_info_right .find_i {
  color: var(--RedWhiteColor);
  display: block;
}

.btn_det {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--RedWhiteColor);
  border: 1px solid var(--RedWhiteColor);
  color: #FFF;
  padding: 10px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}
.btn_det:hover {
  background-color: transparent;
  color: var(--RedWhiteColor);
}


.sec_details_prod {
  background-color: #FBFBFB;
}

.border_after {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--grayColor);
  font-weight: 100;
}
.border_after::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #DDD;
}
.border_after::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  height: 6px;
  background-color: var(--RedWhiteColor);
  z-index: 1;
  border-radius: 5px
}

.sec_details_prod .table_prod {
  text-align: center;
}

.sec_details_prod .table_prod > .row > div {
  margin-bottom: 15px;
}
.sec_details_prod .table_prod h5 {
  color: #FFF;
  background-color: var(--RedWhiteColor);
  padding: 10px;
  margin: auto;
  font-size: 1rem;
}
.sec_details_prod .table_prod h5.no_bg {
  background-color: #F5F5F5;
  color: #666;
}


.slide_related .slick-slide {
  margin: auto 10px;
}
/* //== END Products Details */


/* START Cart View */

.page_cart .item_view .item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  border: 1px solid #DDD;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  padding: 20px 10px;
  margin-bottom: 30px;

  -webkit-transition: .5s;

  transition: .5s;
}
.page_cart .item_view .item:hover {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.page_cart .item_view .item .img_cart {
  -ms-flex-item-align: center;
      align-self: center;
  width: 20%;
  margin: auto;
}
.page_cart .item_view .item .img_cart img {
  max-height: 150px;
}
.page_cart .item_view .item .info_cart {
  -ms-flex-item-align: center;
      align-self: center;
  width: 70%;
  margin: auto;
}
.page_cart .item_view .item .info_cart h5 {
  color: var(--grayColor);
}
.page_cart .item_view .item .info_cart h6 {
  color: #777;
  margin-bottom: 20px;
}
.page_cart .item_view .item .info_cart:not(.input-group)>.bootstrap-select.form-control:not([class*=col-]) {
  width: 40%;
  float: left;
}
.page_cart .select_sizes + .dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #c1c1c1;
  border-radius: 2px;
  padding: 12px 10px;
}

.page_cart .item_view .item .cart_price {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 10%;
  margin: auto;
}
.page_cart .item_view .item .cart_price span.cart_remove {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #F9F9F9;
  border: 1px solid #EEE;
  border-radius: 10px;
  padding: 2px 5px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}
.page_cart .item_view .item .cart_price span.cart_remove:hover {
  background-color: #F00;
  color: #FFF;
}
.page_cart .item_view .item .cart_price span.cart_remove i {
  color: var(--RedWhiteColor);
}
.page_cart .item_view .item .cart_price span.cart_remove:hover i {
  color: #FFF;
}
.page_cart .item_view .item .cart_price h3 {
  color: var(--RedWhiteColor);
  margin-top: 70px;
  font-weight: 400;
}

.number_pl {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}
.number_pl .minus,
.number_pl .plus {
  background: transparent;
  border-radius: 1px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ff8080;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.number_pl span:hover {
   background-color: var(--RedWhiteColor);
   color: #FFF;
}

.number_pl input {
  height: 30px;
  width: 60px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid transparent;
  color: #444;
  border-radius: 4px;
  vertical-align: middle;
  float: left;
}




.cart_prices_total {
  width: auto;
  margin: auto;
  border: 1px solid #EEE;
  padding: 20px 20px 0px;
}
.cart_prices_total > div {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart_prices_total span {
  color: var(--grayColor);
  font-weight: 600;
}
.cart_prices_total .item_num {
  border-bottom: 1px solid #DDD;
}
.cart_prices_total .item_taxes {
  border-bottom: 1px solid #DDD;
}
.cart_prices_total .item_taxes p {
  margin: auto;
}
.cart_prices_total .item_total span {
  font-weight: bold;
}
.cart_prices_total .item_btn_chk a {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: var(--RedWhiteColor);
  color: #FFF;
  padding: 10px;
}
/* //== END Cart View */


/* START Login */

.sec_login form .form-control {
  border-radius: 1px;
  height: calc(2em + 2rem + 2px);
}
.btn_forget_pass {
  text-align: right;
  display: block;
  color: var(--RedWhiteColor);
}
.sec_login form .btn_login {
  -webkit-appearance: none;
  border: 1px solid var(--RedWhiteColor);
  color: #FFF;
  background-color: var(--RedWhiteColor);
  display: block;width: 100%;
  font-weight: bold;
  height: calc(2em + 2rem + 2px);
  border-radius: 1px;
  -webkit-transition: .5s;
  transition: .5s;
}
.sec_login form .btn_login:hover {
  color: var(--RedWhiteColor);
  background-color: transparent;
}
.btn_new_acc {
  text-align: center;
  display: block;
  color: var(--grayColor);
}
.btn_new_acc:hover {
  color: var(--RedWhiteColor);
}
/* //== END Login */


/* START Register */
.input_radio {
  margin-bottom: 20px;
  margin: auto;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}
.input_radio .radio-custom {
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  font-weight: bold;
  color: #666;
  text-align: center;
  text-transform: capitalize;
  width: 45%;
  height: calc(2em + 2rem + 2px);
  line-height: 4em;
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;

  border: 1px solid var(--grayColor);
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
}
.input_radio .radio-custom:first-of-type {
  margin-left: 0;
}
.input_radio .radio-custom:hover {
  cursor: pointer;
}

.input_radio input[type="radio"] {
  display: none;
}
.input_radio input[type="radio"]:checked + label {
  background: var(--RedWhiteColor);
  color: #fff;
  border: 1px solid var(--RedWhiteColor);
}
/* //== END Register */





/* Contact Us */

.title_info h4 {
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;;
}

.title_info h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 2px;
  background-color: #DDD;
}
.title_info h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 10%;
  height: 6px;
  background-color: var(--RedWhiteColor);
  z-index: 1;
  border-radius: 5px
}

.page_contact .contact_info .info_details {
  margin-bottom: 50px;
}
.page_contact .contact_info .info_details li {
  margin-bottom: 10px;
}
.page_contact .contact_info .info_details li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: var(--RedWhiteColor);
  color: #FFF;
  border-radius: 50%;
  margin-right: 10px;
}
.page_contact .map_iframe iframe {
  width: 100%;
  height: 500px;
}

.form_contact form .form-control {
  border-radius: 2px;
}
.form_contact form textarea {
  resize: none;
  min-height: 130px
}


/* About US */
.about_info p.lead {
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #777 !important;
  line-height: 1.7em !important;
}
.about_info p.lead i {
  padding: 20px;
  display: block;
}
.img_about img {
  width: 100%;
  height: auto;
}

.sec_location_about h3 {
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}
.sec_location_about p {
  color: #777
}


.counter_site {
  background-color: var(--RedWhiteColor);
}
.counter_site h1 {
  color: #FFF;
}
.counter_site p {
  color: #FFF;
}


/* Polices And Privacy */
.content_privacy img {
  max-height: 350px;
}
.content_privacy p {
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #777 !important;
  line-height: 1.7em !important;
}

/* Page Collections */
.collection_info {

}
.collection_info img {
  max-width: 500px;
  display: block;
  margin: auto;
}

/* Page Gallery */
.page_gallery .gallery_info {
  padding: 50px 0;
}

.item {
  margin-bottom: 40px;
}
.item h5 a {
  color: var(--grayColor);
  padding: 10px;
  display: block;
  transition: .3s;
}
.item h5 a:hover {
  color: var(--RedWhiteColor);
  padding: 10px;
}
.item .img_gallery img {
  width: 100%;
  max-height: 350px;
  transition: .3s;
}
.item:hover .img_gallery img {
  filter: blur(3px)
}
.item .img_gallery {
  position: relative;
}
.item .img_gallery i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--RedWhiteColor);
  background-color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--RedWhiteColor);
  transition: .3s;
}
.item:hover .img_gallery i {
  transform: translate(-50%, -50%) scale(1);
}

/* Profile */
.page_profile {

}
.page_profile .img_profile {
  background-color: var(--grayColor);
  border: 1px solid var(--RedWhiteColor);
  padding: 10px 0px 0px 0px;
  color: #FFF;
}
.page_profile .img_profile img {
  max-height: 150px;
  margin: auto;
  display: block;
}
.page_profile .info_view {
  padding: 10px;
}
.tabs_profile ul {

}
.tabs_profile ul li {
  background-color: #FFF;
  border-bottom: 1px solid var(--RedWhiteColor);
}
.tabs_profile ul li a {
  font-size: 20px;
  padding: 10px 0;
  display: block;
  color: #666;
  transition: .5s;
}
.tabs_profile ul li a i {
  display: block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: auto;
}
.tabs_profile ul li.active a,
.tabs_profile ul li a:hover {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}

.user_info_content h3 {
  font-weight: bold;
  color: #666;
  margin-bottom: 30px;
}
.user_form_info form {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.user_form_info form input {
  height: auto;
  padding: 15px;
}
.user_form_info form input[type="submit"] {
  background-color: var(--grayColor);
  color: #FFF;
  padding: 20px;
  height: auto;
  transition: .5s;
  border: 0;
  font-weight: bold;
}
.user_form_info form input[type="submit"]:hover {
  background-color: var(--RedWhiteColor);
}

.table thead tr {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}

.td_action > a {
  -webkit-appearance: none;
  color: #FFF !important;
  background-color: var(--grayColor);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .3s;

}

.td_action > a.action_view {
  background-color: var(--RedWhiteColor);
  color: #FFF;
}
.td_action > a.action_view:hover {
  box-shadow: 0 0 10px var(--RedWhiteColor);
}

.td_action > a.action_del {
  background-color: #F00;
  color: #FFF;
}
.td_action > a.action_del:hover {
  box-shadow: 0 0 10px #F00;
}

.td_action > a.action_rate {
  background-color: #fd7e14;
}
.td_action > a.action_rate:hover {
  box-shadow: 0 0 10px #fd7e14;
}




.modal_rating .modal-content {
  padding: 20px;
  border: 3px solid var(--RedWhiteColor);
}
.modal_rating  .modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
}
.modal_rating .modal-content h5 {
  font-weight: bold;
  color: var(--RedWhiteColor);
  margin-bottom: 20px;
}

.starrating>input {
  display: none;
}
/* Remove radio buttons */
.starrating>label:before {
  content: "\f005";
  /* Star */
  margin: 2px 5px;
  font-size: 1.5em;
  font-family:"Font Awesome 5 Free";
  display: inline-block;
}
.starrating>label {
  color: #666;
  /* Start color when not clicked */
}
.starrating>input:checked~label {
  color: var(--RedWhiteColor);
}
/* Set yellow color when star checked */

.starrating>input:hover~label {
  color: var(--RedWhiteColor);
}
/* Set yellow color when star hover */
.starrating label {
  display: block;
}
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline-flex;
}
